<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<!-- header -->
<div th:replace="admin/fragments/header :: header"></div>

<body>
    
    <!-- navbar -->
    <div th:replace="admin/fragments/navbar :: navbar"></div>

    <!-- content -->
    <div class="container my-5">

        <!-- heading -->
        <div class="row mb-5">
            <div class="col-md-12">
                <h2>Create user</h2>
            </div>
        </div>

        <!-- form -->
        <form th:action="@{/admin/users/update}" th:method="PUT" th:object="${user}">
            <input type="hidden" th:field="*{id}">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="mb-3">

                        <!-- image -->
                        <img 
                            src="https://live.staticflickr.com/3034/2766730108_425c5d2e06.jpg" 
                            class="img-thumbnail mb-3" 
                            alt="..."
                            style="height: 300px;">

                        <input class="form-control" type="file" id="formFile">
                    </div>
                </div>
                <div class="col-md-6">

                    <!-- username & email -->
                    <div class="row">
                        <div class="col-md-6">
                            
                            <!-- username -->
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="username" 
                                    placeholder="john_doe"
                                    th:classappend="${#fields.hasErrors('username')} ? is-invalid"
                                    th:field="*{username}"
                                    >
                                <small 
                                    th:if="${#fields.hasErrors('username')}"
                                    th:class="${#fields.hasErrors('username')} ? invalid-feedback"
                                    th:errors="*{username}"
                                    >
                                    Username is required
                                </small>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <!-- email -->
                            <div class="mb-3">
                                <label for="email" class="form-label">Email address</label>
                                <input 
                                    type="email" 
                                    class="form-control" 
                                    id="email" 
                                    placeholder="joe@example.com"
                                    th:classappend="${#fields.hasErrors('email')} ? is-invalid"
                                    th:field="*{email}"
                                    >
                                    <small
                                        th:if="${#fields.hasErrors('email')}"
                                        th:class="${#fields.hasErrors('email')} ? invalid-feedback"
                                        th:errors="*{email}"
                                        >
                                        Email is required
                                    </small>
                            </div>

                        </div>
                    </div>
                    
                    <!-- role -->
                    <div class="role-wrapper mb-3">
                        <div class="form-check">
                            <input 
                                class="form-check-input" type="radio" name="role" id="admin" value="Admin"
                                th:checked="${user.role == 'Admin'} ? ${true}"
                                >
                            <label class="form-check-label" for="admin">
                                Admin
                            </label>
                        </div>
                        <div class="form-check">
                            <input 
                                class="form-check-input" type="radio" name="role" id="editor" value="Editor"
                                th:checked="${user.role == 'Editor'} ? ${true}">
                            <label class="form-check-label" for="editor">
                                Editor
                            </label>
                        </div>
                        <div class="form-check">
                            <input 
                                class="form-check-input" type="radio" name="role" id="seoAuditor" value="SEO Auditor"
                                th:checked="${user.role == 'SEO Auditor'} ? ${true}">
                            <label class="form-check-label" for="seoAuditor">
                                SEO Auditor
                            </label>
                        </div>
                    </div>

                    <!-- name -->
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="name" 
                            placeholder="John Doe"
                            th:classappend="${#fields.hasErrors('name')} ? is-invalid"
                            th:field="*{name}"
                            >
                            <small
                                th:if="${#fields.hasErrors('name')}"
                                th:class="${#fields.hasErrors('name')} ? invalid-feedback"
                                th:errors="*{name}"
                                >
                                Name is required
                            </small>
                    </div>

                    <!-- password -->
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input 
                            type="password" 
                            class="form-control" 
                            id="password"
                            th:classappend="${#fields.hasErrors('password')} ? is-invalid"
                            th:field="*{password}"
                            >
                        <small
                            th:if="${#fields.hasErrors('password')}"
                            th:class="${#fields.hasErrors('password')} ? invalid-feedback"
                            th:field="*{password}"
                            >
                            Password is required
                        </small>
                    </div>

                    <!-- confirm password -->
                    <div class="mb-3">
                        <label for="c_password" class="form-label">Re type password</label>
                        <input type="password" class="form-control" id="c_password">
                    </div>

                </div>
                <div class="col-md-2 text-center">
                    <input type="submit" class="btn btn-primary mt-4">
                </div>
            </div>
        </form>

    </div>

    <!-- footer -->
    <div th:replace="admin/fragments/footer :: footer"></div>

    <!-- scripts -->
    <div th:replace="admin/fragments/scripts :: scripts"></div>

</body>
</html>